<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <display-name>inventory</display-name>
    <description>Book Country Inventory</description>

    <error-page>
        <error-code>404</error-code>
        <location>/html/404.html</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/html/403.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/html/500.html</location>
    </error-page>

    <filter><!--  struts filter  -->
        <filter-name>strutsFilter</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>
    
    <filter><!-- compresses all of the fi requests -->
        <filter-name>CompressingFilter</filter-name>
        <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>*.bc</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>strutsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>com.bc.listener.LoginSessionListener</listener-class>
    </listener> 
    
    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <display-name>Startup Servlet</display-name>
        <servlet-class>com.bc.servlet.StartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>StateServlet</servlet-name>
        <servlet-class>com.bc.servlet.StateServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>JavascriptServlet</servlet-name>
        <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
        <init-param>
            <param-name>configLocation</param-name>
            <param-value>/WEB-INF/jawr.properties</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
        
    <servlet>
        <servlet-name>CssServlet</servlet-name>
        <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
        <init-param>
            <param-name>configLocation</param-name>
            <param-value>/WEB-INF/jawr.properties</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>css</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>GetExportFileServlet</servlet-name>
        <servlet-class>com.bc.servlet.GetExportFileServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.bc.servlet.TomcatStatusServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>com.bc.servlet.ApiServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>JavascriptServlet</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
        <servlet-name>CssServlet</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetExportFileServlet</servlet-name>
        <url-pattern>*.exp</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/secure/status</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>StateServlet</servlet-name>
        <url-pattern>/secure/state</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    
  <mime-mapping>
      <extension>txt</extension>
      <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>html</extension>
      <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>htm</extension>
      <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>xml</extension>
      <mime-type>text/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>css</extension>
      <mime-type>text/css</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>js</extension>
      <mime-type>application/x-javascript</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>doc</extension>
      <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>rtf</extension>
      <mime-type>application/rtf</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>xlsx</extension>
      <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>ppt</extension>
      <mime-type>application/mspowerpoint</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>csv</extension>
      <mime-type>text/csv</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>bmp</extension>
      <mime-type>image/bmp</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>ico</extension>
      <mime-type>image/x-icon</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>gif</extension>
      <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>jpg</extension>
      <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>jpe</extension>
      <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>jpeg</extension>
      <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>png</extension>
      <mime-type>image/png</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>ief</extension>
      <mime-type>image/ief</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>tiff</extension>
      <mime-type>image/tiff</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>tif</extension>
      <mime-type>image/tiff</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>ps</extension>
      <mime-type>application/x-postscript</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>zip</extension>
      <mime-type>application/zip</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>tar</extension>
      <mime-type>application/x-tar</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>pdf</extension>
      <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>eps</extension>
      <mime-type>application/postscript</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>ai</extension>
      <mime-type>application/postscript</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>gz</extension>
      <mime-type>application/x-gzip</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>Z</extension>
      <mime-type>application/x-compress</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>z</extension>
      <mime-type>application/x-compress</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>hqx</extension>
      <mime-type>application/mac-binhex40</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>au</extension>
      <mime-type>audio/basic</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>snd</extension>
      <mime-type>audio/basic</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>aif</extension>
      <mime-type>audio/x-aiff</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>aiff</extension>
      <mime-type>audio/x-aiff</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>aifc</extension>
      <mime-type>audio/x-aiff</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>wav</extension>
      <mime-type>audio/x-wav</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>ra</extension>
      <mime-type>audio/x-pn-realaudio</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>ram</extension>
      <mime-type>audio/x-pn-realaudio</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>mp3</extension>
      <mime-type>audio/mpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>mpeg</extension>
      <mime-type>video/mpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>mpg</extension>
      <mime-type>video/mpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>mpe</extension>
      <mime-type>video/mpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>qt</extension>
      <mime-type>video/quicktime</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>mov</extension>
      <mime-type>video/quicktime</mime-type>
  </mime-mapping>
  <mime-mapping>
      <extension>avi</extension>
      <mime-type>video/x-msvideo</mime-type>
  </mime-mapping>

  <welcome-file-list>
    <welcome-file>homeredirect.bc</welcome-file>
  </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecurePages</web-resource-name>
            <description>All actions are secure</description>
            <url-pattern>/secure/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>

        <auth-constraint>
            <description>WebUser</description>
            <role-name>WebUser</role-name>
        </auth-constraint>

        <user-data-constraint>
            <description>SSL required</description>
            <transport-guarantee>@ssl.transport.guarantee@</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/jsp/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/jsp/login.jsp?error=true</form-error-page>
        </form-login-config>
    </login-config>
 
 
    <!-- Base user role -->
    <security-role>
        <description>WebUser</description>
        <role-name>WebUser</role-name>
    </security-role>
    <security-role>
        <description>SystemAdmin</description>
        <role-name>SystemAdmin</role-name>
    </security-role>
    
    <security-role>
        <description>BcInvAdmin</description>
        <role-name>BcInvAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcInvViewer</description>
        <role-name>BcInvViewer</role-name>
    </security-role>
    <security-role>
        <description>BcManifestAdmin</description>
        <role-name>BcManifestAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcManifestViewer</description>
        <role-name>BcManifestViewer</role-name>
    </security-role>
    <security-role>
        <description>BcRecAdmin</description>
        <role-name>BcRecAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcRecViewer</description>
        <role-name>BcRecViewer</role-name>
    </security-role>
    <security-role>
        <description>BcOrderAdmin</description>
        <role-name>BcOrderAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcOrderViewer</description>
        <role-name>BcOrderViewer</role-name>
    </security-role>
    <security-role>
        <description>BcCustomerAdmin</description>
        <role-name>BcCustomerAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcCustomerViewer</description>
        <role-name>BcCustomerViewer</role-name>
    </security-role>
    <security-role>
        <description>BcVendorAdmin</description>
        <role-name>BcVendorAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcVendorViewer</description>
        <role-name>BcVendorViewer</role-name>
    </security-role>
    <security-role>
        <description>BcUserAdmin</description>
        <role-name>BcUserAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcSalesRepAdmin</description>
        <role-name>BcSalesRepAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcUserViewer</description>
        <role-name>BcUserViewer</role-name>
    </security-role>
    <security-role>
        <description>BcBackStockAdmin</description>
        <role-name>BcBackStockAdmin</role-name>
    </security-role>
    <security-role>
        <description>BcBackStockViewer</description>
        <role-name>BcBackStockViewer</role-name>
    </security-role>
    
    <security-role>
        <description>BellInvAdmin</description>
        <role-name>BellInvAdmin</role-name>
    </security-role>
    <security-role>
        <description>BellInvViewer</description>
        <role-name>BellInvViewer</role-name>
    </security-role>
    <security-role>
        <description>BellRecAdmin</description>
        <role-name>BellRecAdmin</role-name>
    </security-role>
    <security-role>
        <description>BellRecViewer</description>
        <role-name>BellRecViewer</role-name>
    </security-role>
    <security-role>
        <description>BellOrderAdmin</description>
        <role-name>BellOrderAdmin</role-name>
    </security-role>
    <security-role>
        <description>BellOrderViewer</description>
        <role-name>BellOrderViewer</role-name>
    </security-role>
</web-app>
